<% include partials/header %>
	<!-- header of donation -->
	<header class="masthead donationheader" id="donation-bg">
		<div class="overlay" style="padding-top:20px;">
		</div>
		<div class="container">
			<div class="intro-text" style="padding-top:11rem;">
				<div class="intro-lead-in" style="font-size:3.5rem; padding-bottom:2rem;">
					<strong>Donate</strong>
				</div>
				<p class="intro-lead-in d-none d-sm-block" style="color:white; font-size:2.5rem;">
					Items more than money !
				</p>
			</div>
		</div>
	</header>

	<h4 class="text-center" style="margin-top:20px; color:red;">
		Find organisations near you and start donating!
	</h4>

	<!-- form of donation -->
	<div style="padding-top:1rem; padding-bottom:2rem;">
		<div class="container-fluid">
			<div style="margin:0 auto;">
				<form action="/donations" method="GET">
					<div class="form-group">
						<div class="row">
							<div class="col-md-3">
							</div>
							<div class="col-md-3" style="margin-bottom:5px;">
								<select class="form-control selectpicker dropdown show-tick show-menu-arrow auto-save" data-live-search="true" data-size="6" data-style="btn-warning" name="location" id="donatelocation" placeholder="Select or search your suburb">
									<option>Select or search your suburb</option>
									<option value="Melbourne">Melbourne, 3000</option>
									<option value="Fitzroy">Fitzroy, 3065</option>
									<option value="Collingwood">Collingwood, 3066</option>
									<option value="Kensington">Kensington, 3031</option>
									<option value="Carlton North">Carlton North, 3054</option>
									<option value="St Kilda">St Kilda, 3182</option>
									<option value="West Melbourne">West Melbourne, 3003</option>
									<option value="North Melbourne">North Melbourne, 3051</option>
									<option value="Carlton">Carlton, 3053</option>
									<option value="East Melbourne">East Melbourne, 3002</option>
									<option value="South Melbourne">South Melbourne, 3205</option>
									<option value="Richmond">Richmond, 3121</option>
									<option value="Flemington">Flemington, 3031</option>
									<option value="Parkville">Parkville, 3052</option>
									<option value="Footscray">Footscray, 3011</option>
									<option value="Box Hill">Box Hill, 3128</option>
									<option value="Preston">Preston, 3072</option>
									<option value="Caulfield South">Caulfield South, 3162</option>
									<option value="Albert Park">Albert Park, 3206</option>
									<option value="Dandenong">Dandenong, 3175</option>
									<option value="Moonee Ponds">Moonee Ponds, 3039</option>
									<option value="Abbotsford">Abbotsford, 3067</option>
									<option value="North Fitzroy">North Fitzroy, 3068</option>
									<option value="Northcote">Northcote, 3070</option>
									<option value="Glenroy">Glenroy, 3046</option>
								</select>
							</div>
							<div class="col-md-3">
								<input id="donate-sub" type="submit" value="Start" class="btn btn-outline-danger btn-lg btn-block" style="line-height:50%;">
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<% if(donationNGO.length !== 0){ %>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<h3 class="t-center" style="font-size:150%; color:red;">
					<span><%= donationNGO.length %> NGOs founded.</span>
				</h3>
			</div>
			<div class="col-md-4">
			</div>
		<% } else { %>
		<% } %>
	</div>

	<% if(donationNGO.length !== 0){ %>
		<section style="padding-top:0.5rem; padding-bottom:100px;" style="position:relative;">
			<div class="row text-center" style="display:flex; flex-wrap:wrap;">
				<div class="col-xs-0 col-md-3 d-none d-sm-block" style="overflow-y: auto; height:800px;">
					<div id="accordion" class="thumbnail">
						<% donationNGO.forEach(ngo => { %>
							<div class="card">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0" id="span1">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse<%= ngo._id %>" aria-expanded="false" aria-controls="collapse<%= ngo._id %>" style="text-decoration:none;">
											<a href="javascript:google.maps.event.trigger(gmarkers['tigger<%= ngo._id %>'],'click');" style="color:black;">
												<strong><%= ngo.Name %></strong>
											</a>
										</button>
									</h5>
								</div>

								<div id="collapse<%= ngo._id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
										<ul class="text-left">
											<li>
												<strong>Description: </strong>
												<br/>
												<%= ngo.What %>
											</li>
											<li>
												<strong>Address: </strong>
												<br/>
												<%= ngo.Address %>
											</li>
											<li>
												<strong>Phone: </strong>
												<br/>
												<%= ngo.Phone %>
											</li>
											<li>
												<strong>Website: </strong>
												<br/>
												<a style="color:red;" href="https://<%= ngo.Website %>" target="_blank">
													<%= ngo.Website %>
												</a>
											</li>
											<li>
												<strong>Monday: </strong>
												<br/>
												<%= ngo.Monday %>
											</li>
											<li>
												<strong>Tuesday: </strong>
												<br/>
												<%= ngo.Tuesday %>
											</li>
											<li>
												<strong>Wednesday: </strong>
												<br/>
												<%= ngo.Wednesday %>
											</li>
											<li>
												<strong>Thursday: </strong>
												<br/>
												<%= ngo.Thursday %>
											</li>
											<li>
												<strong>Friday: </strong>
												<br/>
												<%= ngo.Friday %>
											</li>
											<li>
												<strong>Saturday: </strong>
												<br/>
												<%= ngo.Saturday %>
											</li>
											<li>
												<strong>Sunday: </strong>
												<br/>
												<%= ngo.Sunday %>
											</li>
											<li>
												<strong>Public Holidays: </strong>
												<br/>
												<%= ngo.Public_holidays %>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<% }) %>
					</div>
				</div>
				<!-- 生成右边的 map -->
				<div class="col-xs-12 col-md-9" id="map" style="height:800px;">
				</div>
			</div>
		</section>
	<% } else { %>
		<div style="height:0">
		</div>
	<% } %>
		
	<script>
		function initMap() {
			<% if(donationNGO.length !== 0){ %>
				var infowindow = new google.maps.InfoWindow();
				<% var ngo = donationNGO[0]; %>
				var latitude = <%= ngo.Latitude %>;
				var longitude = <%= ngo.Longitude %>;
				var center = {
					lat: latitude,
					lng: longitude
				};
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 15,
					center: center,
					gestureHandling: 'cooperative'
				});
			
				<% donationNGO.forEach(ngo => { %>
					<% placeMarker(ngo); %>
				<% }) %>
				
				<% function placeMarker(ngo) { %>
					<% var lat = ngo.Latitude; %>
					<% var lng = ngo.Longitude; %>
					<% var name = ngo.Name; %>
					<% var address = ngo.Address; %>
					<% var phone = ngo.Phone; %>
					<% var website = ngo.Website; %>
					<% var public_holidays = ngo.Public_holidays; %>
			
					var marker = new google.maps.Marker({
						position: new google.maps.LatLng(<%=lat%>, <%=lng%>),
						map: map,
						animation: google.maps.Animation.DROP
					});
			
					marker.addListener('click', function() {
						infowindow.close();
						infowindow.setContent("hello");
						infowindow.open(map, marker);
						infowindow.setPosition(this.position);
					}); 
					console.log("sadfas");
				<% } %>
			
			
			<% } %>
		} 
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEmNNZ8gW73CShJzZLosV-kb3_JYtFua0&callback=initMap"></script>

<% include partials/footer %>


