<% include partials/header %>
	<!-- header of donation -->
	<header class="masthead donationheader" id="donation-bg">
		<div class="overlay" style="padding-top:20px;">
		</div>
		<div class="container">
			<div class="intro-text" style="padding-top:11rem;">
				<div class="intro-lead-in" style="font-size:3.5rem; padding-bottom:2rem;">
					<strong>Donate</strong>
				</div>
				<p class="intro-lead-in d-none d-sm-block" style="color:white; font-size:2.5rem;">
					Items more than money !
				</p>
			</div>
		</div>
	</header>

<!-- <div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4 col-sm-6 portfolio-item">
		<div class="portfolio-caption">
			<a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
				<h6>
					Click Here to know the requirements for donation again
				</h6>
			</a>
		</div>
	</div>
	<div class="col-md-4"></div>
</div> -->
<div class="portfolio-caption text-center" style="margin-top:20px;">
				<a class="portfolio-link infolink" data-toggle="modal" href="#portfolioModal1">
					<h6>
						Click Here to know the requirements for donation again
					</h6>
				</a>
			</div>

<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<!-- <h2 class="text-uppercase">This winter brought with it a particularly brutal flu season.</h2> -->
								<img src="/stylesheets/img/info/donate_info.png" style="width:100%; height:auto;"/>
								<!-- <p class="text-left">If you were one of the fortunate ones, you got some medication, stayed in bed for a couple of days and recovered.
									<br/>
									<br/> But for those who live on the streets, it's an entirely different reality. Medical clinics can be intimidating and expensive places, and medication costs are often beyond the reach of those living rough. Left untreated, sickness can quickly
									become acute.
									<br/>But in Melbourne, there's a glimmer of hope.
									<br/>
									<br/> Every Wednesday for the past 18 months, Cohealth's Street Doctor program has provided free medical services to homeless patients.
									<br/>
									<br/> GP Kate Coles and nurse Vaan Phongsavan have treated more than 200 homeless patients from their mobile surgery — a kitted-out minivan.
									<br/>
									<br/> "Some of our homeless clients have problems with transport, have difficulties to get to an appointment on time, so by being there for them, we actually remove a lot of barriers," Dr Coles says.</p>
								<ul class="list-inline">
									<li>Date: 26/08/2019</li>
									<li>By Fiona Pepper and Skye Docherty</li>
									<li>Category: Homeless</li>
								</ul> -->
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h4 class="text-center" style="margin-top:20px; color:red;">
		Find organisations near you and start donating!
	</h4>

	<!-- form of donation -->
	<div style="padding-top:1rem; padding-bottom:2rem;">
		<div class="container-fluid">
			<div style="margin:0 auto;">
				<form action="" method="GET">
					<div class="form-group">
						<div class="row">
							<div class="col-md-3">
							</div>
							<div class="col-md-3" style="margin-bottom:5px;">
								<select class="form-control selectpicker dropdown show-tick show-menu-arrow auto-save" data-live-search="true" data-size="6" data-style="btn-warning" name="location" id="donatelocation" placeholder="Select or search your suburb">
									<option>Select or search your suburb</option>
									<option value="Melbourne">Melbourne, 3000</option>
									<option value="Fitzroy">Fitzroy, 3065</option>
									<option value="Collingwood">Collingwood, 3066</option>
									<option value="Kensington">Kensington, 3031</option>
									<option value="Carlton North">Carlton North, 3054</option>
									<option value="St Kilda">St Kilda, 3182</option>
									<option value="West Melbourne">West Melbourne, 3003</option>
									<option value="North Melbourne">North Melbourne, 3051</option>
									<option value="Carlton">Carlton, 3053</option>
									<option value="East Melbourne">East Melbourne, 3002</option>
									<option value="South Melbourne">South Melbourne, 3205</option>
									<option value="Richmond">Richmond, 3121</option>
									<option value="Flemington">Flemington, 3031</option>
									<option value="Parkville">Parkville, 3052</option>
									<option value="Footscray">Footscray, 3011</option>
									<option value="Box Hill">Box Hill, 3128</option>
									<option value="Preston">Preston, 3072</option>
									<option value="Caulfield South">Caulfield South, 3162</option>
									<option value="Albert Park">Albert Park, 3206</option>
									<option value="Dandenong">Dandenong, 3175</option>
									<option value="Moonee Ponds">Moonee Ponds, 3039</option>
									<option value="Abbotsford">Abbotsford, 3067</option>
									<option value="North Fitzroy">North Fitzroy, 3068</option>
									<option value="Northcote">Northcote, 3070</option>
									<option value="Glenroy">Glenroy, 3046</option>
								</select>
							</div>
							<div class="col-md-3">
								<input id="donate-sub" type="submit" value="Start" class="btn btn-outline-danger btn-lg btn-block" style="line-height:50%;" />
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<% if(donationNGO.length !== 0){ %>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<h3 class="t-center" style="font-size:150%; color:red;">
					<span><%= donationNGO.length %> NGOs founded.</span>
				</h3>
			</div>
			<div class="col-md-4">
			</div>
		<% } else { %>
		<% } %>
	</div>

	<% if(donationNGO.length !== 0){ %>
		<section style="padding-top:0.5rem; padding-bottom:100px;" style="position:relative;">
			<div class="row text-center" style="display:flex; flex-wrap:wrap;">
				<div class="col-xs-0 col-md-3 d-none d-sm-block" style="overflow-y: auto; height:800px;">
					<div id="accordion" class="thumbnail">
						<% for(var i = 0; i < donationNGO.length; i++) { %>
							<% var ngo = donationNGO[i]; %>
							<div class="card">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0" id="span1">
										<a href="javascript:google.maps.event.trigger(gmarkers['tigger<%-i%>'],'click');" style="color:black;">
											<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse<%-i%>" aria-expanded="false" aria-controls="collapse<%-i%>" style="text-decoration:none; color:black;">
												<strong><%= ngo.Name %></strong>
											</button>
										</a>
									</h5>
								</div>

								<div id="collapse<%-i%>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
										<ul class="text-left">
											<li>
												<strong>Description: </strong>
												<br/>
												<%= ngo.What %>
											</li>
											<li>
												<strong>Address: </strong>
												<br/>
												<%= ngo.Address %>
											</li>
											<li>
												<strong>Phone: </strong>
												<br/>
												<%= ngo.Phone %>
											</li>
											<li>
												<strong>Website: </strong>
												<br/>
												<a style="color:red;" href="https://<%= ngo.Website %>" target="_blank">
													<%= ngo.Website %>
												</a>
											</li>
											<li>
												<strong>Monday: </strong>
												<br/>
												<%= ngo.Monday %>
											</li>
											<li>
												<strong>Tuesday: </strong>
												<br/>
												<%= ngo.Tuesday %>
											</li>
											<li>
												<strong>Wednesday: </strong>
												<br/>
												<%= ngo.Wednesday %>
											</li>
											<li>
												<strong>Thursday: </strong>
												<br/>
												<%= ngo.Thursday %>
											</li>
											<li>
												<strong>Friday: </strong>
												<br/>
												<%= ngo.Friday %>
											</li>
											<li>
												<strong>Saturday: </strong>
												<br/>
												<%= ngo.Saturday %>
											</li>
											<li>
												<strong>Sunday: </strong>
												<br/>
												<%= ngo.Sunday %>
											</li>
											<li>
												<strong>Public Holidays: </strong>
												<br/>
												<%= ngo.Public_holidays %>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<% } %>
					</div>
				</div>
				<!-- 生成右边的 map -->
				<div class="col-xs-12 col-md-9" id="map" style="height:800px;">
				</div>
			</div>
		</section>
	<% } else { %>
		<div style="height:0"></div>
	<% } %>

	<script>
		// $("#donate-sub").submit(function(e) {
		// 	e.preventDefault();
		// });
		
		function initMap() {
			<% if(donationNGO.length !== 0){ %>
				var infowindow = new google.maps.InfoWindow();
				<% var ngo = donationNGO[0]; %>
				var latitude = <%= ngo.Latitude %>;
				var longitude = <%= ngo.Longitude %>;
				var center = {
					lat: latitude,
					lng: longitude
				};
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 15,
					center: center,
					gestureHandling: 'cooperative'
				});
			
				gmarkers = [];
				var ngos = [<%-donationNGO%>];


				function placeMarker(ngo) { 
					var lat = ngo.Latitude;
					var lng = ngo.Longitude;
					var name = ngo.Name;
					var address = ngo.Address;
					var phone = ngo.Phone;
					var website = ngo.Website;
					var public_holidays = ngo.Public_holidays;

					var marker = new google.maps.Marker({
						position: new google.maps.LatLng(lat, lng),
						map: map,
						animation: google.maps.Animation.DROP
					});

					marker.addListener('click', function() {
						//marker.getPosition(this.position);
						infowindow.close();
						infowindow.setContent(`<div style="padding: 10px;"> <p class="text-left" style="color:red;"><strong>${name}</strong></p><br /><p class="text-left">${address}</p><br /><p class="text-left">Phone: <strong>${phone}</strong></p><br /><p class="text-left"><a href="https://${website}" target="_blank" style="color:red;"><strong>website: ${website}</strong></a></p><br /><p class="text-left">Public Holidays: <strong>${public_holidays}</strong></p></div>`);
						infowindow.open(map, marker);
						infowindow.setPosition(this.position);
					});
					return marker;
				}
			
				ngos.forEach((ngo,i) => {
					gmarkers['tigger'+i] = placeMarker(ngo);
				});

			<% } %>
		} 
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEmNNZ8gW73CShJzZLosV-kb3_JYtFua0&callback=initMap"></script>

<% include partials/footer %>


