<% include partials/header %>
	<!-- header of volunteer -->
	<header class="masthead volheader" id="volunteer-bg">
		<div class="overlay" style="padding-top:20px;"></div>
		<div class="container">
			<div class="intro-text" style="padding-top:11rem;">
				<div class="intro-lead-in" style="font-size:3.5rem; padding-bottom:2rem;">
					<strong>Volunteer</strong>	
				</div>
				<p class="intro-lead-in d-none d-sm-block" style="color:white; font-size:2.5rem;">
					Provide comfort and assistance to the people in distress
				</p>
			</div>
		</div>
	</header>
	
	<h4 class="text-center" style="margin-top:20px; color:red; line-height:2.5rem;">
		Tell user how!
	</h4>

	<!-- form of volunteer -->
	<section style="padding-top:0.5rem; padding-bottom:2rem;">
		<div class="container-fluid">
			<div style="margin:0 auto;">
				<form action="/volunteers" method="GET"> 
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<select id="description" class="form-control selectpicker dropdown show-tick show-menu-arrow auto-save" data-style="btn-warning" name="description" placeholder="Choose a category of homeless">
									<option>Choose a category of homeless (Optional)</option>
									<option value="children">Children</option>
									<option value="adult">Adult</option>
									<option value="old">Old</option>
									<option value="family">Family</option>
								</select>
							</div>
							
							<div class="col-md-4">
								<select class="form-control selectpicker dropdown show-tick show-menu-arrow auto-save" data-live-search="true" data-size="6" data-style="btn-warning" name="location" id="vol-location" placeholder="Select or search your suburb">
									<option>Select or search a suburb</option>
									<option value="melbourne">Melbourne, 3000</option>
									<option value="kew">Kew, 3101</option>
									<option value="box hill">Box Hill, 3128</option>
									<option value="richmond">Richmond, 3121</option>
									<option value="dandenong">Dandenong, 3175</option>
									<option value="malvern">Malvern, 3144</option>
									<option value="heidelberg">Heidelberg, 3084</option>
									<option value="canterbury">Canterbury, 3126</option>
									<option value="north melbourne">North Melbourne, 3051</option>
									<option value="st kilda">St Kilda, 3182</option>
									<option value="ascot vale">Ascot Vale, 3032</option>
									<option value="mulgrave">Mulgrave, 3170</option>
									<option value="macleod">Macleod, 3085</option>
									<option value="craigieburn">Craigieburn, 3064</option>
									<option value="rowville">Rowville, 3178</option>
									<option value="clayton south">Clayton South, 3169</option>
									<option value="balwyn">Balwyn, 3103</option>
									<option value="fairfield">Fairfield, 3078</option>
									<option value="albert park">Albert Park, 3206</option>
									<option value="blackburn">Blackburn, 3130</option>
									<option value="ashburton">Ashburton, 3147</option>
									<option value="hawthorn">Hawthorn, 3122</option>
									<option value="caulfield north">Caulfield North, 3161</option>
									<option value="caulfield south">Caulfield South, 3162</option>
									<option value="parkville">Parkville, 3052</option>
									<option value="keysborough">Keysborough, 3173</option>
									<option value="toorak">Toorak, 3142</option>
									<option value="hawthorn east">Hawthorn East, 3123</option>
									<option value="bentleigh">Bentleigh, 3204</option>
									<option value="moorabbin">Moorabbin, 3189</option>
									<option value="thornbury">Thornbury, 3071</option>
									<option value="epping">Epping, 3076</option>
									<option value="doveton">Doveton, 3177</option>
									<option value="wyndham vale">Wyndham Vale, 3024</option>
									<option value="west footscray">West Footscray, 3012</option>
									<option value="burwood">Burwood, 3125</option>
									<option value="sunshine">Sunshine, 3020</option>
									<option value="wantirna south">Wantirna South, 3152</option>
									<option value="bayswater">Bayswater, 3153</option>
									<option value="werribee">Werribee, 3030</option>
									<option value="lilydale">Lilydale, 3140</option>
									<option value="ormond">Ormond, 3204</option>
									<option value="elsternwick">Elsternwick, 3185</option>
									<option value="carlton">Carlton, 3053</option>
									<option value="caroline springs">Caroline Springs, 3023</option>
									<option value="niddrie">Niddrie, 3042</option>
									<option value="glen iris">Glen Iris, 3146</option>
									<option value="tarneit">Tarneit, 3029</option>
									<option value="st kilda east">St Kilda East, 3183</option>
									<option value="st albans">St Albans, 3021</option>
									<option value="dallas">Dallas, 3047</option>
									<option value="south melbourne">South Melbourne, 3205</option>
									<option value="bentleigh east">Bentleigh East, 3165</option>
									<option value="preston">Preston, 3072</option>
									<option value="braeside">Braeside, 3195</option>
									<option value="frankston">Frankston, 3199</option>
									<option value="broadmeadows">Broadmeadows, 3047</option>
									<option value="ferntree gully">Ferntree Gully, 3156</option>
									<option value="briar hill">Briar Hill, 3088</option>
									<option value="collingwood">Collingwood, 3066</option>
									<option value="noble park">Noble Park, 3174</option>
									<option value="ringwood north">Ringwood North, 3134</option>
									<option value="croydon">Croydon, 3136</option>
									<option value="mill park">Mill Park, 3082</option>
									<option value="deer park">Deer Park, 3023</option>
									<option value="glen waverley">Glen Waverley, 3150</option>
									<option value="watsonia">Watsonia, 3087</option>
									<option value="blackburn south">Blackburn South, 3130</option>
									<option value="east brunswick">East Brunswick, 3057</option>
									<option value="eltham">Eltham, 3095</option>
									<option value="ringwood east">Ringwood East, 3135</option>
									<option value="deepdene">Deepdene, 3103</option>
									<option value="essendon">Essendon, 3040</option>
									<option value="mount waverley">Mount Waverley, 3149</option>
									<option value="doncaster east">Doncaster East, 3109</option>
									<option value="mentone">Mentone, 3194</option>
									<option value="wantirna">Wantirna, 3152</option>
									<option value="carlton north">Carlton North, 3054</option>
									<option value="surrey hills">Surrey Hills, 3127</option>
									<option value="east st kilda">East St Kilda, 3183</option>
									<option value="moonee ponds">Moonee Ponds, 3039</option>
									<option value="northcote">Northcote, 3070</option>
									<option value="fitzroy">Fitzroy, 3065</option>
									<option value="boronia">Boronia, 3155</option>
									<option value="abbotsford">Abbotsford, 3067</option>
									<option value="camberwell">Camberwell, 3124</option>
									<option value="braybrook">Braybrook, 3019</option>
									<option value="windsor">Windsor, 3181</option>
									<option value="flemington">Flemington, 3031</option>
									<option value="malvern east">Malvern East, 3145</option>
									<option value="keilor downs">Keilor Downs, 3038</option>
									<option value="meadow heights">Meadow Heights, 3048</option>
									<option value="truganina">Truganina, 3029</option>
									<option value="diamond creek">Diamond Creek, 3089</option>
									<option value="greenvale">Greenvale, 3059</option>
									<option value="clayton">Clayton, 3168</option>
									<option value="ringwood">Ringwood, 3134</option>
									<option value="reservoir">Reservoir, 3073</option>
									<option value="footscray">Footscray, 3011</option>
									<option value="brunswick">Brunswick, 3056</option>
									<option value="cheltenham">Cheltenham, 3192</option>
									<option value="greensborough">Greensborough, 3088</option>
									<option value="lysterfield">Lysterfield, 3156</option>
									<option value="oakleigh">Oakleigh, 3166</option>
									<option value="armadale">Armadale, 3143</option>
									<option value="point cook">Point Cook, 3030</option>
									<option value="thomastown">Thomastown, 3074</option>
									<option value="balaclava">Balaclava, 3183</option>
									<option value="croydon hills">Croydon Hills, 3136</option>
									<option value="sandringham">Sandringham, 3191</option>
									<option value="forest hill">Forest Hill, 3131</option>
									<option value="st. kilda">St. Kilda, 3182</option>
									<option value="lalor">Lalor, 3075</option>
									<option value="carrum downs">Carrum Downs, 3201</option>
									<option value="donvale">Donvale, 3111</option>
									<option value="hoppers crossing">Hoppers Crossing, 3029</option>
									<option value="mickleham">Mickleham, 3064</option>
									<option value="east brighton">East Brighton, 3187</option>
									<option value="bonbeach">Bonbeach, 3196</option>
									<option value="black rock">Black Rock, 3193</option>
									<option value="brighton">Brighton, 3186</option>
									<option value="springvale">Springvale, 3171</option>
									<option value="aspendale gardens">Aspendale Gardens, 3195</option>
									<option value="mordialloc">Mordialloc, 3195</option>
									<option value="yarraville">Yarraville, 3013</option>
									<option value="mitcham">Mitcham, 3132</option>
									<option value="upwey">Upwey, 3158</option>
									<option value="dandenong north">Dandenong North, 3175</option>
									<option value="altona">Altona, 3018</option>
									<option value="seaford">Seaford, 3198</option>
									<option value="port melbourne">Port Melbourne, 3207</option>
									<option value="burwood east">Burwood East, 3151</option>
									<option value="gladstone park">Gladstone Park, 3043</option>
									<option value="caulfield">Caulfield, 3162</option>
									<option value="scoresby">Scoresby, 3179</option>
									<option value="heidelberg west">Heidelberg West, 3081</option>
									<option value="bayswater north">Bayswater North, 3153</option>
									<option value="kilsyth south">Kilsyth South, 3137</option>
									<option value="belgrave heights">Belgrave Heights, 3160</option>
									<option value="watsonia north">Watsonia North, 3087</option>
									<option value="clarinda">Clarinda, 3169</option>
									<option value="coburg">Coburg, 3058</option>
									<option value="kew east">Kew East, 3102</option>
									<option value="fitzroy north">Fitzroy North, 3068</option>
									<option value="carnegie">Carnegie, 3163</option>
									<option value="bulleen">Bulleen, 3105</option>
									<option value="tullamarine">Tullamarine, 3043</option>
									<option value="bundoora">Bundoora, 3083</option>
									<option value="alphington">Alphington, 3078</option>
									<option value="balwyn north">Balwyn North, 3104</option>
									<option value="brunswick west">Brunswick West, 3055</option>
									<option value="hampton">Hampton, 3188</option>
									<option value="maidstone">Maidstone, 3012</option>
									<option value="seabrook">Seabrook, 3028</option>
									<option value="maribyrnong">Maribyrnong, 3032</option>
									<option value="south yarra">South Yarra, 3141</option>
									<option value="ivanhoe">Ivanhoe, 3079</option>
									<option value="frankston south">Frankston South, 3199</option>
								</select>
							</div>
						
							<div class="col-md-4">
								<input id="vol-sub" type="submit" value="Search" class="btn btn-outline-danger btn-lg btn-block" style="line-height:50%;">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	
	<div class="row">
		<% if(volNGO.length !== 0){ %>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<h3 class="t-center" style="font-size:150%; color:red;">
					<span><%= volNGO.length %> NGOs founded.</span>
				</h3>
			</div>
			<div class="col-md-4">
			</div>
		<% } else { %>
		<% } %>
	</div>

	<% if(volNGO.length !== 0){ %>
		<section style="padding-top:0.5rem; padding-bottom:100px;">
			<div class="row text-center" style="display:flex; flex-wrap:wrap;">
					<div class="col-xs-0 col-md-3" style="overflow-y: auto; height:800px;">
						<div id="accordion" class="thumbnail">
							<% volNGO.forEach(ngo => { %>
								<div class="card">
									<div class="card-header" id="headingOne">
										<h5 class="mb-0" id="span1">
											<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse<%= ngo._id %>" aria-expanded="false" aria-controls="collapse<%= ngo._id %>" style="text-decoration:none;" >
												<span style="color:black;"><%= ngo.name %></span>
											</button>
										</h5>
									</div>

									<div id="collapse<%= ngo._id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
										<div class="card-body">
											<ul class="text-left">
												<li><strong>Address: </strong><br/><%= ngo.address %></li>
												<li><strong>Beneficiaries: </strong><br/><%= ngo.main_beneficiaries %></li>
												<li><strong>No.Volunteers: </strong><br/><%= ngo.num_volunteers %></li>
											</ul>
										</div>
									</div>
								</div>
							<% }) %>
						</div>
					</div>
					<!-- 生成右边的 map -->
					<div class="col-xs-12 col-md-9" id="map" style="height:800px;">
					</div>
			</div>
		</section>
	<% } else { %>
		<div style="height:0;"></div>
	<% } %>

	<script>
		function initMap() {
			var infowindow = new google.maps.InfoWindow();
			<% volNGO.forEach( ngo => { %>
				var latitude = <%= ngo.latitude %>;
				var longitude = <%= ngo.longitude %>;
				var center = {
					lat: latitude,
					lng: longitude
				};
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 15,
					center: center,
					gestureHandling: 'cooperative'
				});
			<% }) %>
			
			<% function placeMarker(ngo) { %>
				<% var lat = ngo.latitude; %>
				<% var lng = ngo.longitude; %>
				<% var name = ngo.name; %>
				<% var address = ngo.address; %>
				<% var volNum = ngo.num_volunteers; %>
				var latLng = new google.maps.LatLng(<%=lat%>, <%=lng%>);
				var marker = new google.maps.Marker({ 
					position: latLng,
					map: map,
					animation: google.maps.Animation.DROP
				});
				marker.addListener('click', function() {
					//marker.getPosition(this.position);
					infowindow.close();
					infowindow.setContent(`<div style="padding: 10px;"> <p class="text-left" style="color:red;"><strong><%=name%></strong></p><br /><p class="text-left"><%=address%></p><br /><p class="text-left">Number of volunteers:      <strong><%=volNum%></strong></p></div>`);
					infowindow.open(map, marker);
					infowindow.setPosition(this.position);
					//map.setZoom(15);
					// if (marker.getAnimation() !== null) {
					// 	marker.setAnimation(null);
					// } else {
					// 	marker.setAnimation(google.maps.Animation.BOUNCE);
					// }
			  	});
			<% } %>
			
			
			<% for (var i = 0; i < volNGO.length; i++) { %>
				<% placeMarker(volNGO[i]); %>
			<% } %>
			
		}
		google.maps.event.addDomListener(window, 'load', initMap);
	</script>

	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEmNNZ8gW73CShJzZLosV-kb3_JYtFua0&callback=initMap"></script>
	<script src="/stylesheets/jquery.min.js"></script>
	<script src="/stylesheets/savy.min.js"></script>

	<script>
		$('.auto-save').savy('load');
		
		function clean_vol(){
			localStorage.clear();
		}
	</script>

	<% include partials/footer %>