<% include partials/header %>
	<!-- header of volunteer -->
	<section class="section-intro" style="padding: 0 0; margin-bottom:20px;" id="volunteer-header">
		<div class="header-intro parallax100 t-center p-t-135 p-b-158" id="vol-bg">
			<span class="tit2 p-l-15 p-r-15" id="donation-title" style="color:#e2231a;">
				Volunteer
				<br>
			</span>
			<br>
			<h3 class="t-center p-l-15 p-r-15 p-t-3" style="font-size:150%; color:white;">
				<span style="font-size:150%;">Choose the type of homeless and enter your suburb to
					<br/>get recomendations!</span>
			</h3>
		</div>
	</section>

	<!-- form part of volunteer -->
	<section style="padding-top:1rem; padding-bottom:0.5rem;">
		<div class="container-fluid">
			<div style="width: 40%; margin:0 auto;">
				<form action="/volunteers" method="GET"> 
					<div class="form-group">
						<!-- 第一行 -->
						<div class="row">
							<div class="col-md-4 text-center">
								<label class="col-form-label">
									<strong>Type</strong>
								</label>
							</div>
							<div class="col-md-8">
								<select class="form-control custom-select" name="description" placeholder="type of homeless">
									<option value="">Choose a type of homeless people</option>
									<option value="old">Old</option>
									<option value="children">Children</option>
									<option value="adult">Adult</option>
									<option value="family">Family</option>
								</select>
							</div>
						</div>
						<br/>
						<!-- 第二行 -->
						<div class="row">
							<div class="col-md-4 text-center">
								<label for="location" class="col-form-label">
									<strong>Suburb</strong>
								</label>
							</div>
							<div class="col-md-8">
								<input class="form-control" type="text" name="location" id="location" placeholder="Suburb, VIC">
							</div>
						</div>
						<br/>
						<!-- 第三行 -->
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<input type="submit" value="Search" class="btn btn-outline-danger btn-lg btn-block"></button>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<section style="padding-top:0.5rem; padding-bottom:100px;">
		<div class="row text-center" style="display:flex; flex-wrap:wrap;">
				<!-- 接收pass过来的信息，生成左边的list -->
				<div class="col-md-3">
					<div id="accordion" class="thumbnail">
						<% volNGO.forEach(ngo => { %>
							<div class="card">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
											<%= ngo.name %>
										</button>
									</h5>
								</div>

								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
										<ul class="text-left">
											<li><strong>Address: </strong><%= ngo.address %></li>
											<li><strong>Beneficiaries: </strong><%= ngo.main_beneficiaries %></li>
											<li><strong>No.Volunteers: </strong><%= ngo.num_volunteers %></li>
										</ul>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
				<!-- 生成右边的 map -->
				<div class="col-md-9" id="map" style="height:700px;">
				</div>
		</div>
	</section>

	<script>
		function initMap() {
			<% volNGO.forEach( ngo => { %>
				var latitude = <%= ngo.latitude %>;
				var longitude = <%= ngo.longitude %>;
				var center = {
					lat: latitude,
					lng: longitude
				};
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 10,
					center: center,
					gestureHandling: 'cooperative'
				});
				// 要显示在info window 的信息
				var contentString = `
				  <strong><%= ngo.name %><br />
				  Type Of Homeless: <%= ngo.address %><br/>
				  Suburb: <%= ngo.suburb %></strong> 
				`
				var infowindow = new google.maps.InfoWindow({
					content: contentString
				});
				var marker = new google.maps.Marker({
					position: {lat: latitude, lng: longitude},
					map: map
				});
				marker.addListener('click', function() {
					infowindow.open(map, marker);
					map.setZoom(15);
					map.setCenter(marker.getPosition());
				});
			<% }) %>
		}
		
		
		
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEmNNZ8gW73CShJzZLosV-kb3_JYtFua0&callback=initMap"></script>

	<% include partials/footer %>